
h1{
color: green;
text-align:center;
font-family: 'Courier New',monospace;
font-style:italic;
}
h3{
color:orange;
font-family: 'Courier New',monospace;
font-style:italic;
}
p{
color:blue;
}
ol{
color:violet;
}
ul{
color:red;
}

table {
 border-collapse: collapse;
 width: 30%;
 }
 th, td {
 border: 1px solid #ddd;
 padding: 8px;
 text-align: left;
 }
 th {
 background-color: purple;
 color: white;
 }
 tr:nth-child(even) {
 background-color: #f2f2f2;
 }
 tr:hover {
 background-color: #ddd;
 }

